
.component-container-row {
  display: flex;
  align-items: flex-end;
  text-align: center;
  flex-flow: row wrap;
  width: 70%;
  padding: 2rem;
  border: 3px solid blueviolet;
  border-radius: 10px;
  gap: 20px;
}


.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.large {
  width: 140px;
  height: 140px;
}

.med {
  width: 100px;
  height: 100px;
}

.small {
  width: 60px;
  height: 60px;
}

.square-large {
  width: 140px;
  height: 140px;
}

.square-med {
  width: 100px;
  height: 100px;
}

.square-small {
  width: 60px;
  height: 60px;
}
