.square-img {
  height: 8.8rem;
  width: 8.8rem;
  margin: 10px;
  object-fit: cover;
  background-color: var(--primary-color);
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.circle-img {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  object-fit: cover;
}