.modal {
  display: flex;
  flex-flow: column wrap;
}

.heading {
  display: flex;
}

.heading p {
  margin-left: auto;
  font-size: 1.55rem;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-class {
  margin: 0rem 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  /* border: none; */
}

.btn-class:nth-child(1) {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px var(--secondary-color) solid;
}

.btn-class:nth-child(2) {
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
}
